# shellcheck disable=SC2148

if ! has nix_direnv_version || ! nix_direnv_version 3.0.4; then
  URL=https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.4/direnvrc
  HASH=sha256-DzlYZ33mWF/Gs8DDeyjr8mnVmQGx7ASYqA5WlxwvBG4=
  source_url "$URL" "$HASH"
fi

watch_file flake.lock
watch_file flake.nix

use flake . --show-trace
